<head>
	<title>Tinkerer's Lab, IITH</title>
	<link href="https://fonts.googleapis.com/css?family=Scope+One" rel="stylesheet">
	<link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicons/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="assets/images/favicons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/images/favicons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="assets/images/favicons/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
  <!--  
  Stylesheets
  =============================================

-->
<!-- Default stylesheets-->
<link href="assets/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Template specific stylesheets-->
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<link href="assets/lib/animate.css/animate.css" rel="stylesheet">
<link href="assets/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="assets/lib/et-line-font/et-line-font.css" rel="stylesheet">
<link href="assets/lib/flexslider/flexslider.css" rel="stylesheet">
<link href="assets/lib/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
<link href="assets/lib/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">
<link href="assets/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
<link href="assets/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
<!-- Main stylesheet and color file-->
<link href="assets/css/style.css" rel="stylesheet">
<link id="color-scheme" href="assets/css/colors/default.css" rel="stylesheet">
</head>
<body ng-app="forum">
	<main>
		<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" ui-sref="welcome">Tinkerer's Lab,<span style="font-size: 20px;"> IITH</span></a>
				</div>
				<div class="collapse navbar-collapse" id="custom-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown"><a ui-sref="welcome">Home</a>
						</li>
						<li class="dropdown"><a ui-sref="topics" data-toggle="dropdown">Portal</a>
						</li>
						<li class="dropdown"><a ui-sref="inventory" data-toggle="dropdown">Resources</a>
						</li>
						<li><a ui-sref="blogs">Blog</a>
						</li>
						<li><a>About Us</a>
						</li>
						<li><a style="color: rgba(255, 255, 255, 0.7) !important;" data-toggle="modal" data-target="#notifModal">{{ currentUser.profile.name }} <span class="badge">{{ currentUser.profile.notifications.length === 0 ? '' : currentUser.profile.notifications.length }}</span></a></li>
						<li><a ng-click="logInorOut()" >{{ availableAccountAction }}</a></li>
						
					</ul>
				</div>
			</div>
		</nav>

		<div id="notifModal" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content" style="">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title font-alt">Notifications</h4>
					</div>
					<div class="modal-body">
						<div ng-if="currentUser.profile.notifications.length !=0" ng-repeat="notification in currentUser.profile.notifications"><a ui-sref="thread({ threadId: notification.parentThread })">
							<p class="font-alt">{{notification.commentingUser.profile.name}} commented on your thread!</p>
							<p class="font-serif">{{notification.comment}}</p>
							<hr>
						</a></div>
						<div ng-if="!currentUser.profile.notifications.length" class="center">
							<p class="font-alt">No New Notifications</p>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearAllNotifications()">Clear All</button>
					</div>
				</div>

			</div>
		</div>


		<div class="forum">
			<div class="page-container" ui-view>
			</div>
		</div>
	</main>
	<script src="assets/lib/jquery/dist/jquery.js"></script>
	<script src="assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="assets/lib/wow/dist/wow.js"></script>
	<script src="assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
	<script src="assets/lib/isotope/dist/isotope.pkgd.js"></script>
	<script src="assets/lib/imagesloaded/imagesloaded.pkgd.js"></script>
	<script src="assets/lib/flexslider/jquery.flexslider.js"></script>
	<script src="assets/lib/owl.carousel/dist/owl.carousel.min.js"></script>
	<script src="assets/lib/smoothscroll.js"></script>
	<script src="assets/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
	<script src="assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
	<script src="assets/js/plugins.js"></script>
	<script src="assets/js/trix.js"></script>
	<script src="dist/angular-trix.min.js"></script>
	<!-- <script src="assets/js/main.js"></script> -->
	<!-- <script type="text/javascript">
		$(document).ready(function() {
		    function navbarSubmenu(width) {
		        if (width > 767) {
		            $('.navbar-custom .navbar-nav > li.dropdown').hover(function() {
		                var MenuLeftOffset = $('.dropdown-menu', $(this)).offset().left;
		                var Menu1LevelWidth = $('.dropdown-menu', $(this)).width();
		                if (width - MenuLeftOffset < Menu1LevelWidth * 2) {
		                    $(this).children('.dropdown-menu').addClass('leftauto');
		                } else {
		                    $(this).children('.dropdown-menu').removeClass('leftauto');
		                }
		                if ($('.dropdown', $(this)).length > 0) {
		                    var Menu2LevelWidth = $('.dropdown-menu', $(this)).width();
		                    if (width - MenuLeftOffset - Menu1LevelWidth < Menu2LevelWidth) {
		                        $(this).children('.dropdown-menu').addClass('left-side');
		                    } else {
		                        $(this).children('.dropdown-menu').removeClass('left-side');
		                    }
		                }
		            });
		        }
		    }
		});
	</script> -->
</body>
