<section class="module">
	<div class="container" style="min-height: 50vh">
		<div class="row">
			<h2 class="module-title font-alt" style="margin-bottom: 20px !important;">Resources</h2>
			<hr class="red-line">
			<div class="panel-group" id="accordion">
				<div class="panel panel-default mt-30">
					<div class="panel-heading" ng-click="toggleElec()">
						<h4 class="panel-title font-alt">Future Electrical Equipment</h4>
					</div>
					<div class="panel-collapse collapse in smooth-slide" ng-hide="elecHidden">
						<iframe ng-hide="elecHidden" class="smooth-slide" align="middle" style="width: 100%; height: 80vh; margin: 0 auto; display: block;" src="https://gdoc.pub/doc/1Zt2i34f8kDT6iuoCPMsml5FzXXsmttXseuS8X61kjns"></iframe>
					</div>
				</div>
				<div class="panel panel-default mt-30">
					<div class="panel-heading" ng-click="toggleMech()">
						<h4 class="panel-title font-alt">Future Mechanical Equipment</h4>
					</div>
					<div class="panel-collapse collapse in smooth-slide" ng-hide="mechHidden">
						<iframe ng-hide="mechHidden" class="smooth-slide" align="middle" style="width: 100%; height: 80vh; margin: 0 auto; display: block;" src="https://gdoc.pub/doc/1t5RutlxIpw2lbe22gCXPYw_bh4rTfVWO_7HDfV-18XE#?embedded=true"></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container" style="min-height: 30vh">
		<h2> Want something you don't see here? We'll try getting it for you! </h2>
		<form ng-submit="createResourceReq(req)">
			<input class="form-control" ng-model="req" type="text" placeholder="Tell us what you want here."></input>
			<button class="mt-10 btn btn-lg btn-primary" type="submit">Request Resource</button>
		</form>
	</div>
</section>
