<section class="module">
    <div class="page">
        <div class="container">
            <link rel="stylesheet" type="text/css" href="assets/css/trix.css">
            <div class="post-title">{{ project.title }}</div>
            <p>by {{ project.author.profile.name }}<br>{{ project.createdAt | date}}</p>
            <hr style="border-bottom: 1px solid #aaa !important">
            <p ng-bind-html="trustHtml(project.description)"></p>

            <div class="row">
                <div class="col-md-12">
                    <div style="display:inline-block;width:100%;overflow-y:auto;">
                        <ul class="timeline timeline-horizontal">
                            <li class="timeline-item" ng-repeat="i in getNumber(project.timeline.milestones.milestone.length)">
                                <div class="timeline-badge primary"><i class="glyphicon glyphicon-check"></i></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Mussum ipsum cacilds 1</h4>
                                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{ project.timeline.milestones.deadline[i] }}</small></p>
                                    </div>
                                    <div class="timeline-body">
                                        <p>{{ project.timeline.milestones.milestone[i] }}</p>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="module-small">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="comments">
            <h4 class="comment-title font-alt">Replies</h4>

            <!-- This div is used if no replies are found -->
            <div class="row pb-20 pt-40 font-alt align-center" ng-if="!project.replies">
                <h4 style="text-transform: none !important">No replies here... yet. Go ahead, make one!</h4>
            </div>
            <div class="comment clearfix replies" ng-repeat="reply in project.replies">
                <div class="comment-avatar">
                    <img ng-src="{{reply.author.services.google.picture}}" alt="avatar"/>
                </div>

                <div class="comment-content clearfix">
                    <div class="comment-author font-alt" style="text-transform: none !important; margin-bottom: 0px !important">{{ reply.author.profile.name }}</div>

                    <div class="comment-body">
                        <p style="margin-bottom: 10px !important" ng-bind-html="trustHtml(reply.content)"></p>
                    </div>
                    <div class="comment-meta font-serif">{{ reply.createdAt | date }}</div>
                </div>
                <hr>
            </div>
        </div>
        <div class="comment-form">
          <h4 class="comment-form-title font-alt">Add your reply</h4>
          <form ng-submit="createReply(reply)">
            <div class="form-group">
                <trix-editor angular-trix ng-model="reply.content" class="trix-content reply-box"></trix-editor>
                <!-- <textarea class="form-control" id="comment" name="reply" rows="4" placeholder="Comment" ng-model="reply.content"></textarea> -->
            </div>
            <button class="btn btn-round btn-d" type="submit">Post reply</button>
        </form>
    </div>
</div>
</div>
</div>
</section>
