<section class="module">
    <div class="page">
        <div class="container">
            <link rel="stylesheet" type="text/css" href="assets/css/trix.css">
            <p>{{ thread.title }}</p>
            <p>by {{ thread.author.profile.name }} on {{ thread.createdAt | date}}</p>
            <p ng-bind-html="trustHtml(thread.content)"></p>
            <ul>
                <li ng-repeat="post in posts">
                    <p ng-bind="post.content"></p>
                    by {{ post.author.profile.name }} at {{ post.createdAt | date }}
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="module-small">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="comments">
          <h4 class="comment-title font-alt">Replies</h4>
          <div class="comment clearfix" ng-repeat="reply in thread.replies">
            <div class="comment-avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/ryanbattles/128.jpg" alt="avatar"/></div>
            <div class="comment-content clearfix">
              <div class="comment-author font-alt">{{ reply.author.profile.user }}</div>
              <div class="comment-body">
                <p>{{ reply.content }}</p>
            </div>
            <div class="comment-meta font-alt">{{ reply.createdAt | date }}
            </div>
        </div>
    </div>
</div>
<div class="comment-form">
  <h4 class="comment-form-title font-alt">Add your reply</h4>
  <form ng-submit="createReply(reply)">
    <div class="form-group">
      <textarea class="form-control" id="comment" name="reply" rows="4" placeholder="Comment" ng-model="reply.content"></textarea>
  </div>
  <button class="btn btn-round btn-d" type="submit">Post reply</button>
</form>
</div>
</div>
</div>
</div>
</section>
