<section class="module-medium">
	<div class="page">
		<div class="container">
			<link rel="stylesheet" type="text/css" href="assets/css/trix.css">
			<!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> -->
			<div class="row">
				<div class="col-sm-11">
					<h2 class="font-alt">{{ topic.name }}</h2>
				</div>
				<div class="col-sm-1 et-icons">
					<!-- <span class="box1" title="Create new thread"><span class="icon-pencil" aria-hidden="true"></span></span> -->
					<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Create Thread</button>
				</div>
			</div>

			<div id="myModal" class="modal fade" role="dialog">
				<div class="modal-dialog">

					<!-- Modal content-->
					<div class="modal-content" style="">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title font-alt">Create a new thread</h4>
						</div>
						<div class="modal-body">
							<form ng-submit="createThread(thread)">
								<input type="text" placeholder=" Thread title" ng-model="thread.title" class="mb-10">
								<trix-editor angular-trix ng-model="thread.content" class="trix-content"></trix-editor>
								<button type="submit" class="btn btn-info btn-lg mt-10" >Create!</button>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>

				</div>
			</div>


			<h4 class="font-serif">{{ topic.description }}</h4>
			<div class="row multi-columns-row pb-20"  ng-repeat="thread in threads" style="border-bottom: 1px solid #e5e5e5;">
				<div class="col-sm-12" style="border-top: 1px solid #e5e5e5;">
					<h3 class="font-alt align-left"><a ui-sref="thread({ threadId: thread._id })">{{ thread.title }}</a></h3>
				</div>
				<div class="col-sm-8">
					<div class="font-serif align-left">{{ thread.author.profile.name }}</div>
				</div>
				<div class="col-sm-4" >
					<div class="font-serif align-right">{{ thread.createdAt | date}}</div>
				</div>
			</div>
				<!-- <ul>
					<li ng-repeat="thread in threads">
						<a ui-sref="thread({threadId: thread._id})">{{ thread.title }}</a>
						by {{ thread.author }} at {{ thread.createdAt | date }}
					</li>
				</ul> -->
			</div>
		</section>