<section class="home-section home-full-height" id="home">
  <div class="hero-slider">
    <ul class="slides">
      <li class="bg-dark-30" style="background-image:url(&quot;assets/images/photography/header1.jpg&quot;);">
        <div class="container">
          <div class="image-caption">
            <div class="font-alt caption-text">Placeholder image</div>
          </div>
        </div>
      </li>
      <li class="bg-dark-30" style="background-image:url(&quot;assets/images/photography/header2.jpg&quot;);">
        <div class="container">
          <div class="image-caption">
            <div class="font-alt caption-text">Placeholder image</div>
          </div>
        </div>
      </li>
      <li class="bg-dark-30" style="background-image:url(&quot;assets/images/photography/header3.jpg&quot;);">
        <div class="container">
          <div class="image-caption">
            <div class="font-alt caption-text">Placeholder image</div>
          </div>
        </div>
      </li>
      <li class="bg-dark-30" style="background-image:url(&quot;assets/images/photography/header4.jpg&quot;);">
        <div class="container">
          <div class="image-caption">
            <div class="font-alt caption-text">Placeholder image</div>
          </div>
        </div>
      </li>
      <li class="bg-dark-30" style="background-image:url(&quot;assets/images/photography/header5.jpg&quot;);">
        <div class="container">
          <div class="image-caption">
            <div class="font-alt caption-text">Placeholder image</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="titan-caption" style="position: absolute !important; z-index: 30; top: 0px; pointer-events: none;">
    <div class="caption-content" style="color: #ffffff;">
      <div class="font-alt mb-20 titan-title-size-3">Tinkerers' Lab, IITH</div>
      <div class="font-alt mb-20 titan-title-size-1">Tinkerers' Lab is IITH's 24/7 open studio for exploration and innovation. It provides the tools for students to be creative and innovate.</div><a class="section-scroll btn btn-border-w btn-round" href="#services" style="pointer-events: auto !important;">Learn More</a>
    </div>
  </div>
</section>

<section class="module" id="services">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h2 class="module-title font-alt" style="margin-bottom: 20px !important;">Our Aim</h2>
        <hr class="red-line">
        <div class="module-subtitle font-serif" style="margin-bottom: 5px !important;">Innovation is the outcome of a habit, not a random act.</div>
        <div class="module-subtitle">Here, at Tinkerers' Lab, our aim is to provide you with an open facility with a vast range of tools in order to bring out the inner tinkerer in you.</div>
      </div>
    </div>
    <div class="row multi-columns-row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="features-item">
          <div class="features-icon"><span class="icon-clock"></span></div>
          <h3 class="features-title font-alt">Always Available</h3>
          <p>We know that the best ideas don't always come to us during work hours. Tinkerers' Lab is open 24/7, giving you the liberty to build and innovate whenever.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="features-item">
          <div class="features-icon"><span class="icon-lightbulb"></span></div>
          <h3 class="features-title font-alt">Transparency of Ideas</h3>
          <p>Our Portal not only keeps a track of every single project in Tinkerers' Lab, it also has a section dedicated to sharing ideas, making collaboration and inspiration easy.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="features-item">
          <div class="features-icon"><span class="icon-tools-2"></span></div>
          <h3 class="features-title font-alt">Resources</h3>
          <p>We have a wide variety of resources, from the commonplace RasPis and drills to CNC Machines and 3D Printers. You can also request advice from any proffessor directly from our portal.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="features-item">
          <div class="features-icon"><span class="icon-chat"></span></div>
          <h3 class="features-title font-alt">TL Talks</h3>
          <p>From time to time, TL will host talks and sessions by innovators and entrepreneurs to help develop interest in new fields and push boundaries.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="module" id="news">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h2 class="module-title font-alt" style="margin-bottom: 20px !important;">Latest Blog Posts</h2>
        <hr class="red-line">
        <div class="module-subtitle">Here's a collection of blog posts that document the most recent projects finished at Tinkerers' Lab.</div>
      </div>
    </div>
    <div class="row multi-columns-row post-columns">
      <!-- <div class="col-md-3 col-sm-6 col-xs-12"> -->
      <div class="col-sm-6 col-md-4 col-lg-4" ng-repeat="blog in blogs | limitTo: 3">
        <div class="post mb-20">
          <div class="post-thumbnail"><a ui-sref="blog({ blogId: blog._id })"><img src="assets/images/work-1.jpg" alt="Blog-post Thumbnail"/></a></div>
          <div class="post-header font-alt">
            <h2 class="post-title"><a ui-sref="blog({ blogId: blog._id })">{{ blog.name }}</a></h2>
            <div class="post-meta">By&nbsp;{{ blog.author }}&nbsp;| {{ createdAt | date }} | {{ blog.comments.length }} Comment{{ blog.comments.length == 1 ? '' : 's' }}
            </div>
          </div>
          <div class="post-entry">
            <p>{{ blog.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="assets/js/plugins.js"></script>
<script src="assets/js/main.js"></script>